<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>
  <script src="js/info.js"></script>
  <style>
  html {
    background: url(/images/venue.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
  </style>
</head>

<body>

  <br>
  <div id="master_div">
    <div id="div_1" class="div_2">
      <h1>Wednesday</h1>
      <h3>Welcome BBQ</h3>
      <p>After or quick dress-less rehearsal, we'll meet you over at the Beach Pavillion
      at the resort for 5pm.  We've heard about the summer evenings here, soaking up the
      postcard sunsets while devouring some burgers and sinking our teeth into succulent
      chicken.  Local corn on the cob, coleslaw, salad and condiments are just a few of
      the staples.
      <br>
      <br>
      Once the sun goes down we'll be roasting some marshmellows ot make some S'mores!!!<br>
      <br>
      All washed down with some quality beverages in front of the lake.</p>
      <h3>Attire</h3>
      <p>Red and Blue</p>
    </div>

    <div id="div_2" class="div_2">
      <h1>Thursday</h1>
      <h3>Ceremony</h3>
      <p>Although the courthouse will have our signatures on the dotted line, we know input
      it won't be real in our eyes until you help us make the commmitment.  After some tears
      (I think!) and exchange of vows, we think the deal will be sealed</p>
      <h3>Reception</h3>
      <p>Cocktail hour will start at 6pm by the Pool Pavillion nearest the lodge</p>
      <h3></h3>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    <div id="div_3" class="div_2">
      <h1>Friday</h1>
      <h3>Farewell Breakfast</h3>
      <p>We're going to feel like we were hit by a tractor trailer truck that was hauling
      hauling 150 cases of Moet, but according to history we will live to see work on Monday.
      With that in mind, we will be poolside some time midday</p>
      <h3>Attire</h3>
      <p>Whatever is left in your luggage.  We may be in bath robes anyway!</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>


</body>
</html>
