<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>
</head>

<body>

  <div>
  <img id="photo-banner" src="/images/ukusa.jpg">
</div>

<!-- Scrolling Pictures
shot<div class="pics">
  <div><img src="images/photo_10.jpg" style="width:900px;height:388px;"></div>
  <div><img src="images/greece.jpg" width="30%" height="30%"></div>
  <div><img src="images/jam.jpg" width="30%" height="30%"></div>
  <div><img src="images/racing.jpg" width="30%" height="30%"></div>
  <div><img src="images/thai.jpg" width="30%" height="30%"></div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.pics').slick({
      autoplay: true,
      autoplaySpeed: 3000,
      centreMode: true,
      infinite: true,
      fade: true,
      cssEase: 'linear',
      arrows: false,
      speed: 1000,
    });
  });
</script> -->


</body>
</html>
