<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>
  <script src="js/info.js"></script>
  <style>
  html {
    background: url(/images/golden1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
  </style>
</head>

<body>

<br>
<div id="travel_master_div">
<div class="wednesday">
  <h1>Wednesday</h1>
  <h3>Welcome BBQ</h3>
  <h4>After our quick dress-less rehearsal, we’ll meet you over at the Beach
    Pavilion at the Resort for 5pm. We’ll soak up the  summer evening here while
    devouring some burgers and sinking our teeth into succulent chicken and all
    the traditional BBQ fixings. There will be some games and a great chance to
    mingle with each other before the big day.</h4>
  <h3>Attire...</h3>
  <h4>Red & Blue</h4>
</div>

<div class="thursday">
  <h1>Thursday</h1>
  <h3>Ceremony</h3>
  <h4>We ask that everyone arrives at St. Peter’s Church by 2.45pm. It will take
    approximately 25 minutes to get to the church from the resort.</h4>
  <h3>Reception</h3>
  <h4>Cocktail hour will start at 5:30pm by the Pool Pavillion, nearest the
    lodge. Dinner will commence shortly after Cocktail hour in the Barn, which
    is next door to the Cocktail bar area.</h4>
    <h3>Attire Semi Formal</h3>
    <h4>A suit & tie for the men and a cocktail dress for the ladies.</h4>
</div>

<div class="registry">
  <h1>Registry Information</h1>
  <h3>We appreciate you coming from far and wide to be with us this summer. Your
    attendance is as good a gift as any.</h3>
  <h3>If you feel inclined to add a little shimmer to our otherwise dull china
    collection, you can browse our ‘wants’ over here at Prezola.com. Our gift
    list is here.</h3>
  <h3>You can find our gift list on Prezola list number: 10156979 or follow this
    link: <a href="https://prezola.com/wishlists/10156979" target='_blank'>Gift Register</a></h3>
</div>
</div>

<div class="accommodations">
  <h1>Accommodations</h1>
  <h4>Call for Discounted Rate for all rooms booked (M-Th) at The Mountain Top
    Inn & Resort under Wallis Kovach Wedding +1 - 802-483-2311</h4>
</div>

</body>
</html>
