<form action="/invitees" method="post">
  Guest Name:
  <input type="text" name="name">
  <br>
  Attending:
  <input type="radio" name="attending" value="Yes">Yes
  <input type="radio" name="attending" value="No">No
  <br>
  Partners/Kids Attending:
  <input type="text" name="others">
  <br>
  Special Requirements:
  <input type="text" name="requests">
  <br>
  <input type="submit" value="Submit">
</form>
