<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script src="scripts/wed.js"></script>
</head>
<body>
<a href="/">Home Page</a>

<%=yield%>


</body>
</html>
