<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="css/elements.css">
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="js/my_js.js"></script>
</head>

<body>

<div id='cssmenu'>
<ul>
   <li><a href='/'><h1>Home</h1></a></li>
   <li id="popup" onclick="div_show()"><a href='#'><h1>RSVP</h1></a></li>
   <li><a href='http://www.mountaintopinn.com/' target='_blank'><h1>Venue</h1></a></li>
   <li><a href='/info'><h1>Information</h1></a></li>
   <li><a href='/contact'><h1>Contact</h1></a></li>
   <li><a href='/pictures'><h1>Pictures</h1></a></li>

</ul>
</div>

<div id="abc">
<!-- Popup Div Starts Here -->
<div id="popupContact">
<!-- Contact Us Form -->
<form action="/invitees" id="form" method="post" name="form">
<img id="close" src="images/3.png" onclick ="div_hide()">
<h2>RSVP</h2>
<h3>Attending The Wedding?</h3>

<select name="attending">
  <option value" ">Please Select an Option</option>
  <option value="Yes">Yes</option>
  <option value="Yes_Partner">Yes + Partner</option>
  <option value="Yes_Partner_Kids">Yes + Partner & Kid(s)!!!</option>
  <option value="No">No</option>
</select>

<div class=main_guest>
<input id="name" name="name" placeholder="Guest Name" type="text">
</div>
<br>

<select class="yes" name="g1_menu">
  <option value=" ">Please Choose Your Main Course</option>
  <option value="Beef">Beef Tenderloin</option>
  <option value="Chicken">Herb Crusted Chicken</option>
  <option value="Fish">Maple Glazed Salmon</option>
  <option value="Veggie">Vegetarian Option</option>
</select>

<div class="yes_partner">
<input name="g2_name" placeholder="Partners Name" type="text">
<br>
<br>
<select name="g2_menu">
  <option value=" ">Please Choose Your Main Course</option>
  <option value="Beef">Beef Tenderloin</option>
  <option value="Chicken">Herb Crusted Chicken</option>
  <option value="Fish">Maple Glazed Salmon</option>
  <option value="Veggie">Vegetarian Option</option>
</select>
</div>

<div class="yes_partner_kids">
<input name="g3_name" placeholder="Juniors Name" type="text">
<br>
<br>
<select class="yes_partner_kids" name="g3_menu">
  <option value=" ">Please Choose Your Main Course</option>
  <option value="Beef">Beef Tenderloin</option>
  <option value="Chicken">Herb Crusted Chicken</option>
  <option value="Fish">Maple Glazed Salmon</option>
  <option value="Veggie">Vegetarian Option</option>
</select>
</div>

<div class="yes_partner_kids">
<input name="g4_name" placeholder="Jr 2 Name (if applicable)" type="text">
<br>
<br>
<select name="g4_menu">
  <option value=" ">Please Choose Your Main Course</option>
  <option value="Beef">Beef Tenderloin</option>
  <option value="Chicken">Herb Crusted Chicken</option>
  <option value="Fish">Maple Glazed Salmon</option>
  <option value="Veggie">Vegetarian Option</option>
</select>
</div>

<div class="yes">
<h3>Attending The BBQ?</h3>
<input type="radio" name="bbq" value="Yes">Yes
<input type="radio" name="bbq" value="No">No
</div>

<textarea class="yes" id="msg" name="additional" placeholder="Special Requirements / Comments"></textarea>
<input class="send" type="submit" value="Submit" id="submit">
</form>
</div>
<!-- Popup Div Ends Here -->
</div>

<%=yield%>


</body>
</html>
