<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="css/elements.css">
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="js/my_js.js"></script>
</head>

<body>

<div id='cssmenu'>
<ul>
   <li><a href='/'><h1>Home</h1></a></li>
   <li id="popup" onclick="div_show()"><a href='#'><h1>RSVP</h1></a></li>
   <li><a href='http://www.mountaintopinn.com/' target='_blank'><h1>Venue</h1></a></li>
   <li><a href='/info'><h1>Information</h1></a></li>
   <li><a href='/contact'><h1>Contact</h1></a></li>
   <li><a href='/pictures'><h1>Pictures</h1></a></li>

</ul>
</div>

<div id="abc">
<!-- Popup Div Starts Here -->
<div id="popupContact">
<!-- Contact Us Form -->
<form action="/invitees" id="form" method="post" name="form">
<img id="close" src="images/3.png" onclick ="div_hide()">
<h2>RSVP</h2>
<input id="name" name="name" placeholder="Guest Full Name" type="text">
<h3>Attending?</h3>
<input id="yes" type="radio" name="attending" value="Yes">Yes
<br>
<input id="yes_partner" type="radio" name="attending" value="Yes">Yes + Partner
<br>
<input id="yes_partner_kids" type="radio" name="attending" value="Yes">Yes + Partner & Kid(s)!!!
<br>
<input id="no" type="radio" name="attending" value="No">No


<h3 class="yes">Please choose your entree</h3>
<select class="yes" name="g1_menu">
  <option>Menu Options</option>
  <option value="beef">Beef</option>
  <option value="chicken">Chicken</option>
  <option value="fish">Fish</option>
  <option value="Veggie">Veggie</option>
</select>

<div class="yes_partner">
<input name="g2_name" placeholder="Partners Full Name" type="text">
<br>
<br>
<select name="g2_menu">
  <option>Partners Entree Options</option>
  <option value="beef">Beef</option>
  <option value="chicken">Chicken</option>
  <option value="fish">Fish</option>
  <option value="Veggie">Veggie</option>
</select>
</div>

<div class="yes_partner_kids">
<input name="g3_name" placeholder="Juniors Full Name" type="text">
<br>
<br>
<select class="yes_partner_kids" name="g3_menu">
  <option>Juniors Menu Options</option>
  <option value="beef">Beef</option>
  <option value="chicken">Chicken</option>
  <option value="fish">Fish</option>
  <option value="Veggie">Veggie</option>
</select>
</div>

<div class="yes_partner_kids">
<input name="g4_name" placeholder="Junior 2 Full Name (if applicable)" type="text">
<br>
<br>
<select name="g4_menu">
  <option>Juniors Menu Options</option>
  <option value="beef">Beef</option>
  <option value="chicken">Chicken</option>
  <option value="fish">Fish</option>
  <option value="Veggie">Veggie</option>
</select>
</div>


<textarea class="yes" id="msg" name="requests" placeholder="Special Requirements / Comments"></textarea>
<input class="send" type="submit" value="Submit" id="submit">
</form>
</div>
<!-- Popup Div Ends Here -->
</div>

<%=yield%>


</body>
</html>
