<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>
<a href="/">Home Page</a>
<a href="/invitees">Click here to accept / decline our wedding invitation</a>


<%=yield%>


</body>
</html>
