<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/lightbox.css" rel="stylesheet">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>
  <script src="js/my_js.js"></script>
  <script src="js/info.js"></script>
  <style>
  html {
    background: black; no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
  </style>
</head>

<body>

<div id="pic-page">
  <a class="image_text">Click for larger images</a>
  <br>
  <br>
  <a href="images/lightbox/001.JPG" data-lightbox="image-2" data-title="WHATEVER CAPTION YOU WANT IN HERE"><img src="images/lightbox/001-thumb.jpeg"></a>
  <a href="images/lightbox/003.JPG" data-lightbox="image-2" data-title="WHATEVER CAPTION YOU WANT IN HERE"><img src="images/lightbox/003-thumb.jpeg"></a>
  <a href="images/lightbox/015.JPG" data-lightbox="image-2" data-title="WHATEVER CAPTION YOU WANT IN HERE"><img src="images/lightbox/015-thumb.jpeg"></a>
  <a href="images/lightbox/160.JPG" data-lightbox="image-2" data-title="Captain Kovach!!!"><img src="images/lightbox/160-thumb.jpeg"></a>
  <a href="images/lightbox/174.JPG" data-lightbox="image-2" data-title="WHATEVER CAPTION YOU WANT IN HERE"><img src="images/lightbox/174-thumb.jpeg"></a>
  <a href="images/lightbox/3503.JPG" data-lightbox="image-2" data-title="WHATEVER CAPTION YOU WANT IN HERE"><img src="images/lightbox/3503-thumb.jpeg"></a>
  <a href="images/lightbox/3521.JPG" data-lightbox="image-2" data-title="WHATEVER CAPTION YOU WANT IN HERE"><img src="images/lightbox/3521-thumb.jpeg"></a>
  <a href="images/lightbox/3527.JPG" data-lightbox="image-2" data-title="WHATEVER CAPTION YOU WANT IN HERE"><img src="images/lightbox/3527-thumb.JPG"></a>
  <a href="images/lightbox/3542.JPG" data-lightbox="image-2" data-title="WHATEVER CAPTION YOU WANT IN HERE"><img src="images/lightbox/3542-thumb.jpeg"></a>
  <a href="images/lightbox/3548.JPG" data-lightbox="image-2" data-title="WHATEVER CAPTION YOU WANT IN HERE"><img src="images/lightbox/3548-thumb.JPG"></a>
  <br>
  <a class="image_text">Croatia 2014</a>
</div>
<script src="js/lightbox.js"></script>
</body>
</html>
