<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/lightbox.css" rel="stylesheet">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>
  <script src="js/my_js.js"></script>
  <script src="js/info.js"></script>
  <style>
  html {
    background: black; no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
  </style>
</head>

<body>

<div id="pic-page">
  <a class="image_text">Click for larger images</a>
  <br>
  <br>
  <a href="images/lightbox/001.JPG" data-lightbox="image-2" ><img src="images/lightbox/001-thumb.jpeg"></a>
  <a href="images/lightbox/003.JPG" data-lightbox="image-2" ><img src="images/lightbox/003-thumb.jpeg"></a>
  <a href="images/lightbox/015.JPG" data-lightbox="image-2" ><img src="images/lightbox/015-thumb.jpeg"></a>
  <a href="images/lightbox/160.JPG" data-lightbox="image-2" ><img src="images/lightbox/160-thumb.jpeg"></a>
  <a href="images/lightbox/174.JPG" data-lightbox="image-2" ><img src="images/lightbox/174-thumb.jpeg"></a>
  <a href="images/lightbox/3503.JPG" data-lightbox="image-2" ><img src="images/lightbox/3503-thumb.jpeg"></a>
  <a href="images/lightbox/3521.JPG" data-lightbox="image-2" ><img src="images/lightbox/3521-thumb.jpeg"></a>
  <a href="images/lightbox/3527.JPG" data-lightbox="image-2" ><img src="images/lightbox/3527-thumb.JPG"></a>
  <a href="images/lightbox/3542.JPG" data-lightbox="image-2" ><img src="images/lightbox/3542-thumb.jpeg"></a>
  <a href="images/lightbox/1.JPG" data-lightbox="image-2" ><img src="images/lightbox/1 copy.JPG"></a>
  <a href="images/lightbox/2.JPG" data-lightbox="image-2" ><img src="images/lightbox/2 copy.JPG"></a>
  <a href="images/lightbox/3.jpg" data-lightbox="image-2" ><img src="images/lightbox/3 copy.jpg"></a>
  <a href="images/lightbox/4.jpg" data-lightbox="image-2" ><img src="images/lightbox/4 copy.jpg"></a>
  <a href="images/lightbox/5.jpg" data-lightbox="image-2" ><img src="images/lightbox/5 copy.jpg"></a>
  <a href="images/lightbox/6.jpg" data-lightbox="image-2" ><img src="images/lightbox/6 copy.jpg"></a>
  <a href="images/lightbox/7.jpg" data-lightbox="image-2" ><img src="images/lightbox/7 copy.jpg"></a>
  <a href="images/lightbox/8.jpg" data-lightbox="image-2" ><img src="images/lightbox/8 copy.jpg"></a>
  <a href="images/lightbox/9.jpg" data-lightbox="image-2" ><img src="images/lightbox/9 copy.jpg"></a>
  <a href="images/lightbox/10.jpg" data-lightbox="image-2" ><img src="images/lightbox/10 copy.jpg"></a>
  <a href="images/lightbox/11.jpg" data-lightbox="image-2" ><img src="images/lightbox/11 copy.jpg"></a>
  <a href="images/lightbox/12.jpg" data-lightbox="image-2" ><img src="images/lightbox/12 copy.jpg"></a>
  <a href="images/lightbox/13.jpg" data-lightbox="image-2" ><img src="images/lightbox/13 copy.jpg"></a>
  <a href="images/lightbox/14.jpg" data-lightbox="image-2" ><img src="images/lightbox/14 copy.jpg"></a>
  <a href="images/lightbox/15.jpg" data-lightbox="image-2" ><img src="images/lightbox/15 copy.jpg"></a>
  <a href="images/lightbox/16.JPG" data-lightbox="image-2" ><img src="images/lightbox/16 copy.JPG"></a>
  <a href="images/lightbox/17.JPG" data-lightbox="image-2" ><img src="images/lightbox/17 copy.JPG"></a>
  <a href="images/lightbox/18.JPG" data-lightbox="image-2" ><img src="images/lightbox/18 copy.JPG"></a>
  <a href="images/lightbox/19.JPG" data-lightbox="image-2" ><img src="images/lightbox/19 copy.JPG"></a>
  <a href="images/lightbox/20.JPG" data-lightbox="image-2" ><img src="images/lightbox/20 copy.JPG"></a>
  <a href="images/lightbox/21.JPG" data-lightbox="image-2" ><img src="images/lightbox/21 copy.JPG"></a>
  <a href="images/lightbox/22.JPG" data-lightbox="image-2" ><img src="images/lightbox/22 copy.JPG"></a>
  <a href="images/lightbox/23.JPG" data-lightbox="image-2" ><img src="images/lightbox/23 copy.JPG"></a>
  <a href="images/lightbox/24.JPG" data-lightbox="image-2" ><img src="images/lightbox/24 copy.JPG"></a>
  <a href="images/lightbox/25.JPG" data-lightbox="image-2" ><img src="images/lightbox/25 copy.JPG"></a>
  <a href="images/lightbox/26.JPG" data-lightbox="image-2" ><img src="images/lightbox/26 copy.JPG"></a>
  <a href="images/lightbox/27.JPG" data-lightbox="image-2" ><img src="images/lightbox/27 copy.JPG"></a>
  <a href="images/lightbox/28.JPG" data-lightbox="image-2" ><img src="images/lightbox/28 copy.JPG"></a>
  <a href="images/lightbox/29.JPG" data-lightbox="image-2" ><img src="images/lightbox/29 copy.JPG"></a>
  <a href="images/lightbox/30.JPG" data-lightbox="image-2" ><img src="images/lightbox/30 copy.JPG"></a>
  <a href="images/lightbox/31.JPG" data-lightbox="image-2" ><img src="images/lightbox/31 copy.JPG"></a>
  <a href="images/lightbox/32.JPG" data-lightbox="image-2" ><img src="images/lightbox/32 copy.JPG"></a>
  <a href="images/lightbox/33.JPG" data-lightbox="image-2" ><img src="images/lightbox/33 copy.JPG"></a>
  <a href="images/lightbox/34.JPG" data-lightbox="image-2" ><img src="images/lightbox/34 copy.JPG"></a>
  <a href="images/lightbox/35.JPG" data-lightbox="image-2" ><img src="images/lightbox/35 copy.JPG"></a>
  <a href="images/lightbox/36.JPG" data-lightbox="image-2" ><img src="images/lightbox/36 copy.JPG"></a>
  <a href="images/lightbox/37.JPG" data-lightbox="image-2" ><img src="images/lightbox/37 copy.JPG"></a>
  <a href="images/lightbox/38.JPG" data-lightbox="image-2" ><img src="images/lightbox/38 copy.JPG"></a>
  <a href="images/lightbox/39.JPG" data-lightbox="image-2" ><img src="images/lightbox/39 copy.JPG"></a>
  <a href="images/lightbox/40.JPG" data-lightbox="image-2" ><img src="images/lightbox/40 copy.JPG"></a>
  <a href="images/lightbox/41.JPG" data-lightbox="image-2" ><img src="images/lightbox/41 copy.JPG"></a>
  <a href="images/lightbox/42.JPG" data-lightbox="image-2" ><img src="images/lightbox/42 copy.JPG"></a>
  <a href="images/lightbox/43.JPG" data-lightbox="image-2" ><img src="images/lightbox/43 copy.JPG"></a>
  <a href="images/lightbox/44.JPG" data-lightbox="image-2" ><img src="images/lightbox/44 copy.JPG"></a>
  <a href="images/lightbox/45.JPG" data-lightbox="image-2" ><img src="images/lightbox/45 copy.JPG"></a>
  <a href="images/lightbox/46.JPG" data-lightbox="image-2" ><img src="images/lightbox/46 copy.JPG"></a>
  <a href="images/lightbox/49.JPG" data-lightbox="image-2" ><img src="images/lightbox/49 copy.JPG"></a>
  <a href="images/lightbox/48.JPG" data-lightbox="image-2" ><img src="images/lightbox/48 copy.JPG"></a>
  <a href="images/lightbox/50.JPG" data-lightbox="image-2" ><img src="images/lightbox/50 copy.JPG"></a>
  <a href="images/lightbox/52.JPG" data-lightbox="image-2" ><img src="images/lightbox/52 copy.JPG"></a>
  <a href="images/lightbox/53.JPG" data-lightbox="image-2" ><img src="images/lightbox/53 copy.JPG"></a>
  <a href="images/lightbox/54.JPG" data-lightbox="image-2" ><img src="images/lightbox/54 copy.JPG"></a>
  <a href="images/lightbox/55.JPG" data-lightbox="image-2" ><img src="images/lightbox/55 copy.JPG"></a>
  <a href="images/lightbox/56.JPG" data-lightbox="image-2" ><img src="images/lightbox/56 copy.JPG"></a>
  <a href="images/lightbox/57.JPG" data-lightbox="image-2" ><img src="images/lightbox/57 copy.JPG"></a>
  <a href="images/lightbox/58.JPG" data-lightbox="image-2" ><img src="images/lightbox/58 copy.JPG"></a>
  <a href="images/lightbox/59.JPG" data-lightbox="image-2" ><img src="images/lightbox/59 copy.JPG"></a>
  <a href="images/lightbox/60.JPG" data-lightbox="image-2" ><img src="images/lightbox/60 copy.JPG"></a>
  <a href="images/lightbox/61.JPG" data-lightbox="image-2" ><img src="images/lightbox/61 copy.JPG"></a>
  <a href="images/lightbox/62.JPG" data-lightbox="image-2" ><img src="images/lightbox/62 copy.JPG"></a>
  <a href="images/lightbox/63.JPG" data-lightbox="image-2" ><img src="images/lightbox/63 copy.JPG"></a>
  <a href="images/lightbox/64.JPG" data-lightbox="image-2" ><img src="images/lightbox/64 copy.JPG"></a>
  <a href="images/lightbox/66.JPG" data-lightbox="image-2" ><img src="images/lightbox/66 copy.JPG"></a>
  <a href="images/lightbox/67.JPG" data-lightbox="image-2" ><img src="images/lightbox/67 copy.JPG"></a>
  <a href="images/lightbox/68.JPG" data-lightbox="image-2" ><img src="images/lightbox/68 copy.JPG"></a>
  <a href="images/lightbox/69.JPG" data-lightbox="image-2" ><img src="images/lightbox/69 copy.JPG"></a>
  <a href="images/lightbox/72.JPG" data-lightbox="image-2" ><img src="images/lightbox/72 copy.JPG"></a>
  <a href="images/lightbox/73.JPG" data-lightbox="image-2" ><img src="images/lightbox/73 copy.JPG"></a>
  <a href="images/lightbox/76.JPG" data-lightbox="image-2" ><img src="images/lightbox/76 copy.JPG"></a>
  <a href="images/lightbox/paul.JPG" data-lightbox="image-2" ><img src="images/lightbox/78 copy.JPG"></a>
  <br>
  <a class="image_text"></a>
</div>
<script src="js/lightbox.js"></script>
</body>
</html>
