<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>
  <script src="js/info.js"></script>
  <style>
  html {
    background: url(/images/milky.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
  </style>
</head>

<body>

<br>
<div id="travel_master_div">
<div class="travel_options">
  <h1>Travel Options</h1>
  <h3>Fly:</h3>
  <h4>International Options: Montreal Canada (YUL) or Boston (BOS)</h4>
  <h4>Domestic Options: Rutland VT - <a href="http://flyrutlandvt.com/flight-schedule/" target="_blank">Fly Rutland Website</a>
    or Burlington VT - <a href="http://www.btv.aero/" target="_blank">Fly Burlington Website</a></h4>
    <hr>
  <h3>Drive:</h3>
  <h4>195 Mountain Top Road, Chittenden, Vermont</h4>
  <hr>
  <h3>Train:</h3>
  <h4>Nearest Stations: Rutland or Burlington - <a href="https://www.amtrak.com/home" target="_blank">Amtrack Website</a></h4>
</div>

<div class="eating">
  <h1>Nearby Eateries</h1>
  <h3>Killington</h3>
    <ul><li><h4>Sun Up Bakery</h4></li><li><h4>The Foundry</h4></li></ul>

  <h3>Rutland</h3>
  <ul><li><h4>Table 24</h4></li><li><h4>Roots the Restaurant</h4></li>
    <li><h4>The Vermont Tap House</h4></li><li><h4>Uncle Sam's Pub</h4></li></ul>

  <h3>Bridgewater (Killington)</h3>
  <ul><li><h4>Ramunto's Brick & Brew Pizza</h4></li></ul>
</div>

<div class="boston">
  <h1>Accommodations</h1>
  <h4>Call for Discounted Rate for all rooms booked (Mon-Thur) at The Mountain Top
    Inn & Resort under Wallis Kovach Wedding +1 - 802-483-2311</h4>
    <hr>
  <h1>Boston in One Day</h1>
  <h4>For those of you travelling in and out of Boston, here is a great map we
    created for you.</h4>
  <h4>It has attractions to visit and how long you might want to linger there.
    Also, we have included some restaurants you might want to try in the
    city.</h4>
  <h4>Enjoy!</h4>
  <a href="https://www.google.com/maps/d/edit?mid=zGIzAvuQVEqE.kKsQ2MfuQevM" target="_blank">Click Here for Map</a>
</div>
</div>

<div class="accommodations">
</div>

</body>
</html>
