body {
  /*  background-image: url("/images/photo_10.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;   */
    background-color: black;
}
/* html {
    height: 100%
} */

.pics img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
